GOOGLE_API_KEY= your_Google_API_Key_Here
QDRANT_URL= your_qdrant_url_here 
QDRANT_API_KEY=  Your_Qdrant_API_Key_Here                      
QDRANT_COLLECTION= your_qdrant_collection_name_here

# SQLite
SQLITE_DB_PATH=path_to_your_sqlite_db_here 