# Secrets
.env

# OS
.DS_Store

# Python
venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Data 
data/documents/
data/extracted/
data/cleaned/
qdrant_storage/

# Keep the DB schema, exclude file 
data/*.db

# Docker
.dockerignore